[run]
source = .
omit =
    */migrations/*
    */staticfiles/*
    */venv/*
    */.venv/*
    */node_modules/*
    manage.py
    todo_project/asgi.py
    todo_project/wsgi.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__:
    def __repr__
    raise AssertionError
    raise NotImplementedError
skip_empty = True
precision = 2
