databases:
  - name: interview-postgres
    databaseName: interview_platform
    user: admin
    plan: free

services:
  - type: web
    name: interview-app
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: interview-postgres
          property: connectionString
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: FRONTEND_URL
        value: https://code-together-c6ry.onrender.com
